<div class="wc-router-outlet-container">

    //--------------------步驟--------------------
    <br> 另一種釋出 Angular 應用的簡單途徑是使用 GitHub Pages。
    <br> 1. 你需要建立一個 GitHub 賬號（如果沒有的話），然後為你的專案建立一個倉庫。記下 GitHub 中的使用者名稱和專案名。
    <br> 2. 使用 Angular CLI 命令 ng build 來建構這個 GitHub 專案，選項如下：
    <br> ng build --prod --output-path docs --base-href /&#060;project_name&#062;/
    <br> 3. 當建構完成時，把 docs/index.html 複製為 docs/404.html。
    <br> 4. 提交你的更改，並推送。
    <br> 5. 在 GitHub 的專案頁中，把該專案配置為從 docs 目錄下發布。
    <br> 你可以到 https://&#060;user_name&#062;.github.io/&#060;project_name&#062;/ 中檢視部署好的頁面。
    <br> //--------------------我的專案--------------------
    <br> 全部跑完一遍後就只需要重複 2、3、4
    <br> 第二步指令：ng build --prod --output-path docs --base-href /Angular8Core/
    <br> 專案的網址：https://VirtualProgramer.github.io/Angular8Core/

</div>
