<div class="wc-router-outlet-container">

    <div class="row wc-current-news mt-2 mb-4 pb-3">
        <div class="col-lg-3 col-md-6 mb-3">
            <div class="wc-card wc-bg-fill bg-api-1">
                <div class="wc-card-bottom">
                    <div class="wc-card-bottomInner">
                        <h5 class="m-0"> 馬上了解即將更新的全新內容 </h5>
                        <h4 class="m-0"> 關於即將到來的更新 </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-3">
            <div class="wc-card wc-bg-fill bg-api-2">
                <div class="wc-card-bottom">
                    <div class="wc-card-bottomInner">
                        <h5 class="m-0"> 馬上了解即將更新的全新內容 </h5>
                        <h4 class="m-0"> 動漫平台改版使用說明 </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-3">
            <div class="wc-card wc-bg-fill bg-api-3">
                <div class="wc-card-bottom">
                    <div class="wc-card-bottomInner">
                        <h5 class="m-0"> 馬上了解即將更新的全新內容 </h5>
                        <h4 class="m-0"> 首播日期在2019年1月20日 </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-3">
            <div class="wc-card wc-bg-fill bg-api-4">
                <div class="wc-card-bottom">
                    <div class="wc-card-bottomInner">
                        <h5 class="m-0"> 馬上了解即將更新的全新內容 </h5>
                        <h4 class="m-0"> 【2019動漫節】2019國際動漫節 </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row  wc-news">
        <div class="col-lg-3 col-md-6 mb-3">
            <div class="wc-card">
                <img src="http://api.btstu.cn/sjbz/?lx=dongman">
            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-3">
            <div class="wc-card">
                <img src="https://picsum.photos/300/300/?random">
            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-3">
            <div class="wc-card">
                <img src="http://api.btstu.cn/sjbz/?lx=suiji">
            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-3">
            <div class="wc-card">
                <img src="http://api.btstu.cn/sjbz/?lx=m_meizi">
            </div>
        </div>
    </div> -->


    <!-- <img [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound">
    <ng-template #noImageFound>
        <img src="https://picsum.photos/300/300/?random" alt="Fallbackimage">
    </ng-template> -->
</div>
