.wc-router-outlet-container {
    padding-left: 0.5em;
    padding-right: 0.25em;
}

@media (min-width: 768px) {
    .wc-router-outlet-container {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.wc-card {
    border: 1px blue solid;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 7em;
}
