.wc-router-outlet-container {
    padding-left: 0.5em;
    padding-right: 0.25em;
}

@media (min-width: 768px) {
    .wc-router-outlet-container {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.wc-card {
    position: relative;
    border: 1px blue solid;
    padding: 0;
    overflow: hidden !important;
    box-sizing: border-box;
    height: 9em;
    display: flex;
}

.wc-card img {
    width: 100%;
    position: absolute;
}
